//Цвета
$mainColor: rgba(0, 68, 255, 0.45);
$secondaryColor: pink;
//Шрифты
$mainFont: Arial, Helvetica, sans-serif;
$secondaryFont: "Times New Roman", Times, serif; 

//Миксины - шаблоны
@mixin font {
    font-family: $secondaryFont;
    font-size: 22px;
    font-weight: 700;
}


.block {
    @include font;
    background-color: $mainColor; 
    width: 400px;
    height: 200px;
    margin-bottom: 30px;
    
}
.block:not(.first) {
    background-color: $secondaryColor;
    font-family: $secondaryFont;
}